* {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
}

h1, h2 {
    background-color: #262626;
    color: white;
    padding: 5px 30px;
    border-bottom: 2px solid white;
}

body {
    background-color: #101010;
}

img {
    margin: 10px auto;
    display: block;
}

a {
    background-color: white;
    padding: 2px 8px;
    color: rgb(85, 26, 139)
}
